body {
  padding: 0;
  margin: 0;
}

div {
  background-color: bisque;
  border: 2px greenyellow;
}

p {
  background-color: palevioletred;
  margin: 0;
}

.margin-left-auto {
  width: 200px; 
  margin-left: auto;
  margin-right: 40px;
}

.margin-right-auto {
  width: 200px; 
  margin-left: 20px;
  margin-right: auto;
}

.width-auto {
  width: auto; 
  margin-left: 20px;
  margin-right: 40px;
}

.margin-left-right-auto {
  width: 200px; 
  margin-left: auto;
  margin-right: auto;
}

.margin-left-width-auto {
  width: auto;       /* 尽可能的宽 */
  margin-left: auto; /* = 0 */
  margin-right: 40px;
}

img {
  display: block;
  width: 20px;
  height: 20px;
}

.height-auto {
  height: auto;
  /* margin-top: 30px;
  margin-bottom: 10px; */
}

.height-center {
  height: 50%;
}


.border-solid {
  width: auto;
  border-style: dashed;
}